/* about.css */

/* 概要セクション */
.about-content-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.about-image-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about-image {
  width: 100%;
  height: auto;
  margin-right: 20px;
}

.about-text {
  flex: 1;
}

.about-text p {
  line-height: 1.6;
  margin-bottom: 0;
  font-size: 16px;
}

/* 診療情報セクション */
.info-wrapper {
  display: block;
  margin-top: 40px;
}

.info-item {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.info-item h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #228B22;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
}

.info-table th,
.info-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.info-table th {
  background-color: #228B22;
  color: #fff;
}

.info-table td {
  font-weight: bold;
}

.open {
  color: green;
}

.closed {
  color: red;
}

/* アニメーション */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* モバイル対応 */
@media (max-width: 767px) {
  .about-content-wrapper {
    flex-direction: column;
  }

  .about-image-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .about-image {
    width: 40%;
    height: auto;
    margin-right: 20px;
  }

  .about-text p {
    margin-bottom: 0;
  }

  .info-wrapper {
    display: block;
  }

  .info-item {
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
  }
}

/* PC対応 */
@media (min-width: 768px) {
  .about-content-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .about-image-wrapper {
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
  }

  .about-image {
    width: 60%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about-text p {
    margin-bottom: 0;
  }
}
